* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #232526;
  color: #fff;
  border: solid 5px rgba(255, 255, 255, 0.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html:active, body:active {
  -webkit-transition: 0s;
  transition: 0s;
  border: solid 2px rgba(255, 255, 255, 0.1);
}

.info {
  position: absolute;
  left: 40px;
  top: 40px;
}

.info .status {
  margin-top: 10px;
  color: #FF5353;
}

.blocks {
  color: #fff;
}

.blocks .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocks .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100px;
  cursor: pointer;
  border: solid 1px #fff;
  margin: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blocks .block:active, .blocks .block.active {
  -webkit-transition: 0s;
  transition: 0s;
  background-color: #fff;
}

.blocks .block1 {
  -webkit-box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.2);
          box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.2);
  background-color: transparent;
  border: solid 1px #ff6262;
}

.blocks .block1:hover {
  background-color: rgba(255, 83, 83, 0.2);
  -webkit-box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.5);
          box-shadow: 0px 0px 35px rgba(255, 83, 83, 0.5);
}

.blocks .block1:active, .blocks .block1.active {
  background-color: #FF5353;
  -webkit-box-shadow: 0px 0px 35px #FF5353;
          box-shadow: 0px 0px 35px #FF5353;
}

.blocks .block2 {
  -webkit-box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.2);
          box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.2);
  background-color: transparent;
  border: solid 1px #ffc838;
}

.blocks .block2:hover {
  background-color: rgba(255, 196, 41, 0.2);
  -webkit-box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.5);
          box-shadow: 0px 0px 35px rgba(255, 196, 41, 0.5);
}

.blocks .block2:active, .blocks .block2.active {
  background-color: #FFC429;
  -webkit-box-shadow: 0px 0px 35px #FFC429;
          box-shadow: 0px 0px 35px #FFC429;
}

.blocks .block3 {
  -webkit-box-shadow: 0px 0px 35px rgba(89, 128, 193, 0.2);
          box-shadow: 0px 0px 35px rgba(89, 128, 193, 0.2);
  background-color: transparent;
  border: solid 1px #6489c5;
}

.blocks .block3:hover {
  background-color: rgba(89, 128, 193, 0.2);
  -webkit-box-shadow: 0px 0px 35px rgba(89, 128, 193, 0.5);
          box-shadow: 0px 0px 35px rgba(89, 128, 193, 0.5);
}

.blocks .block3:active, .blocks .block3.active {
  background-color: #5980C1;
  -webkit-box-shadow: 0px 0px 35px #5980C1;
          box-shadow: 0px 0px 35px #5980C1;
}

.blocks .block4 {
  -webkit-box-shadow: 0px 0px 35px rgba(251, 233, 183, 0.2);
          box-shadow: 0px 0px 35px rgba(251, 233, 183, 0.2);
  background-color: transparent;
  border: solid 1px #fcedc5;
}

.blocks .block4:hover {
  background-color: rgba(251, 233, 183, 0.2);
  -webkit-box-shadow: 0px 0px 35px rgba(251, 233, 183, 0.5);
          box-shadow: 0px 0px 35px rgba(251, 233, 183, 0.5);
}

.blocks .block4:active, .blocks .block4.active {
  background-color: #FBE9B7;
  -webkit-box-shadow: 0px 0px 35px #FBE9B7;
          box-shadow: 0px 0px 35px #FBE9B7;
}

.inputStatus {
  margin-top: 10px;
}

.inputStatus .circle {
  height: 6px;
  width: 6px;
  display: inline-block;
  opacity: 0.3;
  margin: 5px;
  border-radius: 50%;
  background-color: white;
}

.inputStatus .circle.correct {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */